

## ignored folders ##
random_compat*
uploaded_images/
sandbox/
error_log/
logs/


## ignored files ##
#includes/initialize.php
includes/config.php
.htaccess
phpinfo.php
template.*
.git*
*.sql
*.txt
README.md
includes/config.php
includes/initialize.php
public/songcircle.php
