

## ignored folders ##
random_compat*
uploaded_images/
sandbox/
error_log/
logs/


## ignored files ##
#includes/initialize.php
#includes/config.php
.htaccess
phpinfo.php
template.htm*
.git*
*.sql
*.txt
README.md
