/**
* Index.php Styles
*/

html, body{ min-width: 320px; }

/* Sections Global  */
article#about, article#features, article#contactUs{
  font-family: 'museo_sans100', Arial, Helvetica, sans-serif;
}

article#features h2,
article#contactUs h2{ font-size: 2.8em; margin-left: 18.2%; }

/*About Section*/
article#about{
  height:620px;
	background: #a8a8a8; /* Old browsers */
	background: -moz-linear-gradient(top,  #a8a8a8 0%, #b1b1b1 4%, #bbbbbb 6%, #d9d9d9 9%, #dfdfdf 10%, #e8e8e8 12%, #eeeeee 13%, #f2f2f2 16%, #f3f3f3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a8a8a8 0%,#b1b1b1 4%,#bbbbbb 6%,#d9d9d9 9%,#dfdfdf 10%,#e8e8e8 12%,#eeeeee 13%,#f2f2f2 16%,#f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a8a8a8 0%,#b1b1b1 4%,#bbbbbb 6%,#d9d9d9 9%,#dfdfdf 10%,#e8e8e8 12%,#eeeeee 13%,#f2f2f2 16%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
  background: url("../images/about_background.jpg") no-repeat;
	background-size: cover;
	background-position: 50% top;
}
article#about > div{
  padding-top: 5em;
  width:30%;
  margin-left: 18.2%;
}
article#about h2{ font-size: 2.8em; margin-bottom:24px; }
article#about p{ line-height: 1.4; }

article#about button.medium{
	position: static;
	/*width: 100%;*/
	margin-top: 0.9em;
	/*width: 76%;*/
	font-size: 2.5em;
	min-width: 400px;
	line-height: 1;
}

/*	Contact Us	*/
article#contactUs{
	height:auto;
	background-color: #81C91C;
	background:url("../images/contact_background.jpg") no-repeat;
	background-size: cover;
	background-position: 50% top;
}
article#contactUs > h2 {
	padding: 0.5em 0;
	display: inline-block;
}
div.rounded-contact{
	height:100px;
	background: url("../images/contact_top_rounded.png") no-repeat;
	background-size: cover;
	background-position: left top;
  margin-top: 115px;
  position:relative;
}
article#contactUs button.contact{
	position: static;
	min-width: 80%;
	font-size: 1.75em;
	line-height: 1.5;
}

/*Contact Form*/
form#contact-form, div.errors_php{
    margin: 0 0 0 18.2%;
    width: 32%;
		min-width: 416px;
		padding-bottom: 6em;
}
form#contact-form div:not(.button){ margin-bottom: 1em; }
form#contact-form div:nth-child(4){
  margin-bottom: 2em;
}
form#contact-form div.button{ margin-left: 0.5em; }

form#contact-form label {
	display: block; position: relative;
	border: 1px solid rgba(0,0,0,0);
}
form#contact-form input, textarea {
    font-family: 'museo_sans100', Arial, Helvetica, sans-serif;
    font-size: 1.2em; width: 100%;
    box-sizing: border-box; border: 4px solid #7FC91B;
    border-radius: 50px;
    padding:.75em; padding-left: 1.5em;
		position: relative;
}
form#contact-form textarea{ overflow: auto; } /* remove scrollbar in IE */
form#contact-form input:focus, textarea:focus {
    /*border: 4px solid #7FC91B;*/
    /*box-shadow: 0 0 0 2pt #99EE20;*/
    outline: none;
}
form#contact-form textarea {
    height: 4.5em; resize: vertical;
}
form#contact-form div.errorContainer{
	position: absolute;	z-index: 100;	top: -21px;
	left: 90%; width: 65%;
  padding: 3px; margin-bottom: 0;
  font-family: 'museo_sans300';
  display: table;
	color: white; background: #E81927;
	border:6px solid #FFFFFF;	border-radius: 35px;
	box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.65);
}
form#contact-form div.errorContainer:before{
	content: '';
	background: url('../images/songcircle_form/exclamation_point_red.png');
	background-size: cover;
	height:50px;
	width:50px;
	float: left;
	margin-left: 3px; margin-right: 5px;
}
#contact-form p.error{
	font-size: 1.25em;
  display: table-cell;
	vertical-align: middle;
	padding: 5px 0;
}
form#contact-form div.errorContainer #name-error{
  top: -12px;
}
form#contact-form div.errorContainer #email-error,
form#contact-form div.errorContainer #msg-error{ top: -6px; }

div#thank-you_message{
  margin-left: 18.2%;
  font-size:1.75em;
  width:50%;
  line-height: 1.25;
}
div#thank-you_message p{ padding: 1em 0 6em; margin: 1em 0 0; font-family: 'museo_sans300'; }
#contact-form input.error,
#contact-form textarea.error{ border: 4px solid #E81927; }

div.errors_php{
  /*margin-left: 18.2%;*/
  /*width: 35%;*/
  padding: 5px 0.5em;
  color: #E81927;
  border: 3px solid #E81927;
  font-size: 1.25em;
  line-height: 1.25;
  margin-bottom: 1.25em;
  font-weight: bold;
}
div.errors_php span{ font-family: 'museo_sans900'; font-size: 1.15em;}
div.errors_php ul{ padding-left: 1.5em; }
div.errors_php ul li{ list-style-type: disc; }


/* media queries */
@media screen and (max-width: 1024px) and (min-width: 669px){
	article#about{
		background-position: 40% top;
	}
	article#about div,
  article#contactUs #contact-form,
  div.errors_php,
  div#thank-you_message{
    margin-left: 11.5%;
    width: 46%;
    min-width: 410px;
  }
  div#thank-you_message{ width: 54%; }
	article#contactUs h2{ margin-left: 11.5%; }
}
@media screen and (max-width: 800px){
	#contact-form .error#name-error,
	#contact-form .error#email-error{ top: 3px;}
	#contact-form #msg-error{
    top: initial;
  }
	form#contact-form div.errorContainer{
		position: relative; display: block;
		left: 14px; top: -10px;
		min-width: 320px;
    margin-bottom: -12px; /* nullify extra space caused my positioning */
	}
}
@media screen and (max-width: 736px){
	article#contactUs{
		background: #81C91C;
	}
}
@media screen and (max-width: 668px) and (min-width: 480px){
	article#about{ background-position: 40% top; }

  article#about div,
  article#contactUs #contact-form,
  article#contactUs h2,
  div#thank-you_message,
  div.errors_php{ margin-left: 8.5%; }

	article#about div{
		font-size: 1.15em;
		padding-top: 3em;
		width: 57%; min-width: 350px;
	}
	article#contactUs #contact-form,
  div#thank-you_message,
  div.errors_php{ width: 70%; }
  article#about button.medium{ font-size: 1.9em; min-width: 300px;}
}

@media screen and (max-width: 479px){
	article#about{
		height: auto;
		background: #a8a8a8; /* Old browsers */
		background: -moz-linear-gradient(top,  #a8a8a8 0%, #b1b1b1 4%, #bbbbbb 6%, #d9d9d9 9%, #dfdfdf 10%, #e8e8e8 12%, #eeeeee 13%, #f2f2f2 16%, #f3f3f3 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #a8a8a8 0%,#b1b1b1 4%,#bbbbbb 6%,#d9d9d9 9%,#dfdfdf 10%,#e8e8e8 12%,#eeeeee 13%,#f2f2f2 16%,#f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #a8a8a8 0%,#b1b1b1 4%,#bbbbbb 6%,#d9d9d9 9%,#dfdfdf 10%,#e8e8e8 12%,#eeeeee 13%,#f2f2f2 16%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
	}
	article#about div, article#contactUs{
		width: 100%; margin: 0;
		padding: 3em 1.5em 5em;
	}
	article#about div{ font-size: 1.15em; }
	article#about button.medium{
		position: relative;
		left: 50%; transform: translateX(-50%);
		font-size: 1.75em;
		min-width: 320px;
		margin-top: 0;
	}
	article#contactUs{
		background: #81C91C;
	}
	article#contactUs h2, div#thank-you_message{
		width: 100%; margin-left: 0;
	}
	article#contactUs #contact-form, div.errors_php{
		width: 100%; margin: 0;
		min-width: 310px;
	}
	article#contactUs button.contact{
    font-size: 1.25em;
    padding-right: 2em; padding-left: 2.25em;
	}
	article#contactUs #contact-form input{ padding: 0.75em; }
	article#contactUs #contact-form .errorContainer{ min-width: 270px; }
}







article#banner a{
  color:#34299E;
  text-decoration: underline;
}
article#banner a:hover{ color: #fff; }




/* following 3 test styles */
/*.slide-container{ overflow: hidden; }*/
/*.slide-panel{ border: 3px solid red; height: auto; }
.panel-caption{ border: 3px solid blue; }
.overlay{ border: 4px solid green; height: 100%;}*/

/*  Banner Slides styles  */
.slide-container{
  height: 470px;
  position: relative;
  z-index: 1;
  overflow: auto;
  min-width: 320px;
}
.slide-container .slide-data{ display:none; }
.slide-container .slide-stage-large{
  height: inherit;
  position: relative;
  overflow: hidden;
}
.slide-container .slide-container-1,
.slide-container .slide-container-2{
  height: inherit;
  position: absolute;
  top: 0;
  left: auto;
  width: 100%;
  color: #fff;
}
.slide-container .slide-container-1{ z-index: 101; }
.slide-container .slide-container-2{ z-index: 102; }

.slide-container .slide-panel {
  height: inherit;
  width: 100%;
  position: absolute;
  top:0; left:0;
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: cover;
}

.slide-container .slide-panel .panel-caption{
  width: 68%;
  position: absolute;
  top: 150px; left:18.2%;
  color:#fff;
  text-transform: uppercase;
  /*display: none; /* test */*/
}
.slide-container .slide-panel .panel-caption h3 {
  margin: -47px 0px 47px 0px;
  font-family: 'museo_sans100', Arial, Helvetica, sans-serif;
  font-size:4em;
  font-weight: normal;
}
.slide-container .slide-panel .panel-caption h3 span.bold{
  font-family: 'museo_sans900', Arial, Helvetica, sans-serif;
  /*font-size:2.4em;*/
}
.slide-container .slide-panel .panel-caption p{
  font-family: 'museo_sans700', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1.3em;
  text-transform: none;
}
.slide-container .slide-panel .panel-caption p{ max-width:85%; }
.slide-container .slide-panel .panel-caption p#caption-one{ max-width: 70%; }

/* slide nav */
.slide-container .slide-nav{
  position: absolute; bottom: 10px; left:0;
  text-align: center; width: 100%;
  z-index:1003;
}
.slide-container .slide-nav div{
  display:inline-block;
  width:10px; height: 10px;
  border:2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition: background-color .4s, border .4s;
}
.slide-container .slide-nav div:hover{ border-color: #fff; background-color: rgba(255,255,255,.2); }
.slide-container .slide-nav div.selected{ background-color: #fff; }
.slide-container .slide-nav div:hover{ border-color: #fff; background-color: rgba(255,255,255,.2); }
.slide-container .slide-nav div.selected{ background-color: #fff; }

/* left/right buttons */
.slide-container .btn{
  height:45px; width: 45px;
  position: absolute;
  top: 50%; /* 235px */
  cursor: pointer;
  border-radius: 50%;
  transition: background-color .250s, border .250s;
}
.slide-container .btn:hover{ border-color: rgba(255,255,255,.1); background-color: rgba(255,255,255,.2); }
.slide-container .btn.prev{
  left: 10%; z-index: 1004;
  background-image: url('../images/arrows_and_lines/slider_arrow_left.png') ; background-position: 1px 0px;
}
.slide-container .btn.next{
  right: 10%; z-index: 1004;
  background-image: url('../images/arrows_and_lines/slider_arrow_right.png'); background-position: 1px 0px;
}

.slide-container .slide-stage-small{
  height: inherit;
  position: relative;
  overflow: hidden;
}
.slide-container .slide-stage-small .slide-panel{
  width:100%; height: inherit; position: absolute; top:0; left:0;
}

@media screen and (max-width: 1400px) and (min-width: 991px){
  .slide-container .slide-panel .panel-caption p#caption-one{ max-width: 85%; }
  .slide-container .slide-panel .panel-caption h3#caption-seven{ min-width: 830px; }
  .slide-container .slide-panel{
    background-position: 33% top;
  }
  .slide-container .btn.prev{ left: 5%; }
  .slide-container .btn.next{ right: 5%; }
}
@media screen and (max-width: 1115px){
  .slide-container .slide-panel .panel-caption{
    /*left: 11.3%; min-width: 815px;*/
    width: 82%;
  }
  .slide-container .btn.prev{ left: 3.5%; }
  .slide-container .btn.next{ right: 3.5%; }
}
@media screen and (max-width: 990px){
  .slide-container .slide-panel .panel-caption{
    /*min-width: initial; width: 88%;
    top: 125px; left: 4%;*/
    width: 100%;
    left: 0; right: 0;
    top: 156px;
    padding: 0 10.5%;
    min-width: initial;
    height: 0;
  }
  .slide-container .slide-panel .panel-caption h3{
    font-size: 3.75em; width: 95%;
    bottom: -120px;
    vertical-align: bottom;
    position: absolute;
    padding-right: 0.5em;
  }
  .slide-container .slide-panel .panel-caption p{
    position: relative; top: 120px;
    vertical-align: baseline;
    width: 95%;
    max-width: 100%;
    font-size: 1.25em;
  }
  .slide-container .slide-panel{
    /*background-size: 164%;*/
    background-position: 50% top;
  }
  .slide-container .btn.prev{ left: 2.5%; }
  .slide-container .btn.next{ right: 2.5%; }
  /*.slide-container .btn.prev, .slide-container .btn.next{ top: 285px; }*/
}
@media screen and (max-width: 700px){
  .slide-container .slide-panel .panel-caption{ min-width: initial;
    padding: 0 2.5em;
    top: 156px; }
  .slide-container .slide-panel .panel-caption h3{
  font-size: 3.25em; margin: -64px 2em 25px 0; width: 96%;
  padding-right: 0.5em;
  }
  .slide-container .slide-panel .panel-caption p{
    position: relative;
    font-size: 1.2em;
    width: 100%; max-width: 100%;
  }
  .slide-container .btn{ display: none; }
}
@media screen and (max-width: 480px){
  .slide-container .slide-panel .panel-caption{
    width: 100%; left: 0; top: 0;
    height: 100%;
    padding-top: 3em; padding-left: 1.25em;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    min-width: initial;
  }
  .slide-container .slide-panel .panel-caption h3{
    font-size: 3em; margin:0; margin-bottom: 0.5em;
    position: static;
  }
  .slide-container .slide-panel .panel-caption p{
    top: 0; background: rgba(255,255,255,0.2);
    margin-left: -0.5em; padding: 0.25em 0.25em 0.25em 0.5em;
    box-shadow: 0px 5px 15px 15px rgba(255,255,255,0.2);
    border-top-right-radius:  35px; border-bottom-right-radius: 10px;
    min-width: 250px;
  }
}

/*Features*/
article#features{
  height:1319px;
  width:100%;
}
article#features .section{
  padding-left: 18.2%;
}
article#features section.feature{
	max-width:290px;
	float:left;
	margin:0 5.5% 0 0;
  position:relative;
}
article#features .section{
  text-align: center;
  position: relative;
}
article#features .section.first{ background-color: #FFFFFF; }
article#features .section.second{ background-color: #F1F1F1; }
article#features .section.third{ background-color: #E5EBEE; }

article#features .section.first{
  height:405px;
}
article#features .section.second{
  height:405px;
  padding-top: 39px;
}
article#features .section.third{
  height:405px;
  padding-top: 39px;
}

article#features section.feature{ height: 325px; }
article#features section.feature::after{
  content: url('../images/arrows_and_lines/dotted_vertical.png');
  height:325px; width:3px;
  position:absolute; z-index:10;
  top:0; right:-40px;
}
article#features div.section section.feature:last-of-type::after{
  content: '';
}
article#features section.feature h3{
  padding: 20px 0;
  font-weight: bold;
}

.divide-one{
	height: 63px; width: 100%;
	background: url("../images/icons/dividers/divider-01.png") no-repeat;
	margin-bottom: 39px;
}
.divide-two{
  height: 64px; width: 100%;
	background: url("../images/icons/dividers/divider-02.png") no-repeat;
  position: absolute;
  left:0; bottom:0;
}
.divide-three{
  height: 64px; width: 100%;
	background: url("../images/icons/dividers/divider-03.png") no-repeat;
  position: absolute;
  left:0; bottom:0;
}
.divide-four{
  height: 64px; width: 100%;
	background: url("../images/icons/dividers/divider-04.png") no-repeat;
  position: absolute;
  left:0; bottom:0;
}





/* Social Icons */

/*.facebook, .twitter, .linkedIn{
  opacity: .8;
  transition-duration: .250s;
}
.facebook:hover, .twitter:hover, .linkedIn:hover{
  transition-duration: .250s;
  cursor: pointer;
  opacity: 1;
}*/



/*Back to Top btn*/
div#back-to-top{
  background: url('../images/arrows_and_lines/arrowUp.png');
  height:64px; width:64px;
  opacity:0.2;
  position: fixed; z-index:500;
  right:2.5%; top: 6%;
  display: none;
  transition-duration: .250s;
}
div#back-to-top:hover{
  opacity: .5;
  transition-duration: .250s;
}
a:hover div#back-to-top{
  color: #000;
}
div#back-to-top:after{
  content: 'Top';
  font-size:1.1em;
  font-weight: bold;
  position: relative;
  bottom:-68px; left: 15px;
  opacity: 1;
}





/*Register Form*/
#register-form span.error{
	position:absolute;
	left:90px;
	width:80%;
	font-size: 0.85em;
	color:red;
  text-align: left;
}
#register-form img{
	position: absolute;
	z-index: 1002;
	top:5px; right:5px;
  cursor: pointer;
  opacity: 0.25;
  transition-duration: .250s;
}
#register-form img:hover{ opacity: .5; transition-duration: .250s; }

#register-form{
	position: fixed;
	z-index: 1001;
	/*top:18px;
	right:0;
	bottom:0;
	left:0;*/
  top: 35%; transform: transformY(-50%);
  left: 50%; transform: translateX(-50%);
	color: #2A5C03;
  max-width:30%;
	min-width:480px;
  /*height: 500px;*/
	/*margin:0 auto;
	padding:2em 0;*/
	text-align: center;
	font-family: 'museo_sans100', Arial, Helvetica, sans-serif;
	background:rgba(0,0,0,0);
  font-size:1.1em;
}
#register-form > div{ padding:22px 0 50px; background:#fff; }
#register-form div > p{ margin:52px auto 50px; font-size:1.2em; }
#register-form div + div > p{	margin-bottom: 40px; }
#register-form label{ font-size: 1.1em; }
#register-form div.user{
	height: 126px; width: 126px;
	border-radius: 63px;
	display: inline-block;
	line-height: 120px;
	margin: 0 0.4em 36px;
	background-color: #99EE20;
	font-size: 1.1em;
  transition-duration: .250s;
}
#register-form div.user:hover{
	cursor: pointer;
	background-color: #3FA8F4;
	color:#fff;
	transition-duration: .250s;
}

#register-form div.user.inactive{ background: rgba(0,0,0,.25); }
#register-form div.user.inactive:hover{
  cursor: default;
  color: inherit;
}

#register-form div + div input:not([type=submit]){
	border: 2px solid rgba(153, 238, 32, .5);
	display: block;
	margin: 1.5em auto 0.25em;
	padding:0.65em; padding-left: 1em;
	width:70%;
	border-radius: 24px;
	font-size: inherit;
}
#register-form div + div input:focus{
	box-shadow: 0 0 0 2pt #99EE20;
	outline: none;
}
#register-form div + div input[type=submit]{
	cursor: pointer;
	border-radius: 24px;
	margin:2em auto 16px;
	padding:0.5em 1em;
	display: block;
	background-color: #99EE20;
	color: #2A5C03;
	border:none; outline:none;
	width:65%;
	font-size: 1.2em;
  transition-duration: .150s;
}
#register-form div + div input[type=submit]:hover,
#register-form div + div input[type=submit]:focus{
	background-color: #3FA8F4;
	color:#fff;
	transition-duration: .150s;
  box-shadow: 0 0 1pt 2pt #78C6FF;
}
#register-form div#message p{
  line-height: 2em;
  margin: -.5em 0 -1.5em;
  color: #DD3131;
}


/* Login In form */
/*form#login-form{
  position:absolute;
  right:-20px;
  top:64px;
  z-index:11111;
  background:#fff;
  border:1px solid #ccc;
  width:320px;
  padding-bottom: 6px;
}
form#login-form input{
  display: block;
  margin:16px 16px;
  width:90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 6px;
}

form#login-form span#login-error,
form#login-form span#username-error,
form#login-form span#password-error{
  text-align: center;
  line-height: 30px;
  position: relative;
  margin:-10px 0 0;
  display: block;
  font-weight: bold;
  color: #DD3131;
  text-transform: none;
}
form#login-form span#login-error{ padding: 0 12px; }

form#login-form span#username-error,
form#login-form span#password-error{
  line-height: 1;
  margin:-10px 0;
  font-size: 0.8em;
  text-transform: none;
}*/
