/** Navigation for:
*
*	workshop.php
*	profile.php
*	user_settings.php
*/

nav{
	width:100%;
	height:45px;
	background: #99EE20;
  padding:0 15px 0 45px;
  font-size: 1.05em;
}
nav h1{ display:none; }
nav span.logo{
	line-height: 45px;
  font-weight: bold;
  font-size: 1.25em;
}
nav ul#settings-trigger{
	position: relative;
  float:right;
  min-width: 220px; max-width:300px;
  padding:0 8px;
  text-align: right;
}
nav ul#settings-trigger li{
	display: inline-block;
	line-height: 45px;
  color:#416F48;
}
nav ul#settings-trigger > li{ cursor: pointer; }
nav ul#settings-trigger li a{	padding: 10px 6px; }
nav ul#settings-trigger > li:first-child:before{
  content:url('../images/arrows_and_lines/workshop-arrow-down.png');
  position: relative;
  top:10px; right:8px;
  height: 32px;
  display: inline-block;
  opacity: 0.4;
  margin-top:-4px;
}

nav li ul#settings-drop-down{
  position:absolute;
  left:0;
  border: 1px solid #8DA690;
  border-top: none;
  width:100%;
  font-size: 0.9em;
}
nav li ul#settings-drop-down li{
  display: block;
  text-align: left;
}
nav li ul#settings-drop-down li:nth-child(-n+2){ /* selects only the first two li's and not the 3rd */
  border-bottom:1px dotted #AEE2B3;
}
nav li ul#settings-drop-down li a{
  display: block;
  padding: 0;
  background: #DDFDDC;
  padding-left: 15px;
}
nav li ul#settings-drop-down li a:hover{ background: #AEE2B3; }
nav li ul#settings-drop-down li a:active{ color:#45D845; }
