/**
* Songcircle Registration Form & Confirmation Modal -- Styles
*
* 04/04/2016
*/

#registration_form{
	font-family: 'museo_sans300', Arial, helvetica, sans-serif;
	font-size: 1.2em;	color: #666;
	position: fixed; z-index: 3000;
	top: 50%; left: 50%; transform: translate(-50%,-50%);
	border-radius: 30px; border: 1px solid #7EC919;
	min-width: 25%; width: 460px;
	padding: 2em 3em;
	display: none;
}
#registration_form p{ font-weight: bold; padding: 1.25em 0;	line-height: 1.5; }
#registration_form input, select, .input_error{
	position: relative; display: block;
	width:99%; border: 4px solid rgba(0,0,0,0); outline: none;
	font-size: inherit; margin:1em auto 0.5em; padding:10px 12px;
	box-sizing: border-box;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.65);
}
#registration_form select{
	margin:0 auto; padding-right: 2.6em;
	appearance: none; outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #ffffff url("../images/songcircle_form/select_box_arrow.png") no-repeat right center;
	background-size: 46px 46px;
	color: #666;
}
#registration_form select:focus, input:focus{ border: 4px solid rgba(0,0,0,0); }

/* background color for registration form and register button */
#registration_form, #registration_form span#submit_registration{
	background: #e5fcca;
	background: linear-gradient(to bottom,  #e5fcca 0%,#99ee20 45%,#89dc3d 70%,#7ec919 90%,#92ea41 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5fcca', endColorstr='#92ea41',GradientType=0 );
}

/* faux 'submit' button */
#registration_form span#submit_registration{
	min-width: 65%; max-width: 70%;
	font-size:1.75em; color: white; font-weight: bold;
	margin: 1em auto; padding: 12px 0;
	display: block;	cursor: pointer;
	border: none; text-align: center;
	box-shadow: 0px 0px 2px 4px rgba(255,255,255,1);
	border-radius: 100px 100px 100px 100px;
	outline: none;
}

/* white arrow before */
/*#registration_form span#submit_registration:before{*/
	/*content: url('../images/arrows_and_lines/white_arrow_right.svg');*/
	/*position: relative; right: 10px;*/
	/*top: 1px; z-index: 10;*/
	/*width: 15px; height: 26px;*/
/*background-size: 100% 100%;*/
	/*background-position: center;*/
	/*background-repeat: no-repeat;*/
	/*height: 26px; max-width: 16px;*/
/*}*/
#registration_form span#submit_registration:hover{
	background: rgb(134,231,255);
	background: linear-gradient(to bottom,  rgb(134,231,255) 0%,rgb(63,216,255) 17%,rgb(18,121,222) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86e7ff', endColorstr='#1279de',GradientType=0 );
}
/* actual submit button hidden */
#registration_form input[name="register"]{ display: none; }


div#details > p{ padding-left: 6px; padding-bottom: 6px; font-size: 1.25em; }
#details label{	position: relative;	display: block;	border: 1px solid rgba(0,0,0,0); }

div#loc{ text-align: center;	margin-top: 2em; border-top: 1px solid #ffffff; }
#loc p#locationMsg{	font-weight: normal; padding-bottom: 0; }
/* 'not right?' text */
#locationMsg span#trigger-location{
	color: #3FA8F4; font-weight: bold; font-size: 0.8em;
	cursor: pointer; transition: color 250ms;
}
#locationMsg span#trigger-location:hover{ color: #FFF; }

div#user_location{ position: relative; } /* for error div positioning */
#user_location select#country_select{ margin-top: 1em; }

div#codeOfConduct{
	text-align: center;	position: relative;	margin:2em auto;
	/*height: 26px;*/
}

/* registration form checkbox */
/* http://blog.karenmenezes.com/2014/nov/1/another-pure-css-checkbox-article/ */
#codeOfConduct .checkbox-custom{ opacity: 0; position: absolute; display: none;}
.checkbox-custom, .checkbox-custom-label{
	display: inline-block;
	/*margin: 5px; */
	cursor: pointer;
}
.checkbox-custom-label, #codeOfConduct a{
	font-weight: bold;
	/*margin-top: 1.25em;	*/
	line-height: 28px;
	transition-duration: color 25ms;
	display: inline;
}
.checkbox-custom-label{ color: #666666; }
#codeOfConduct a, #cOcAlertBox a{ text-decoration: underline; }
#cOcAlertBox.form_error > p > a{ color: #fff !important; }
.checkbox-custom-label a:hover,
#codeOfConduct a:hover, #locationMsg span#trigger-location:hover{
	color: #FFFFFF;
}
#cOcAlertBox > p > a:hover{ color: lightcyan !important; }
.checkbox-custom + .checkbox-custom-label:before{
	content: '';
  background: #fff;
  border: 4px solid rgba(0,0,0,0);
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  text-align: center;
	border-radius: 6px 6px;
}
input.checkbox-custom + .checkbox-custom-label.error:before{
	border: 4px solid #3FA8F4;
}
.checkbox-custom:checked + .checkbox-custom-label:before{
	content: "\2714";
	font-size: 1.5em;
  background: #FFFFFF;
	color: #777;
}
.checkbox-custom:focus + .checkbox-custom-label{ outline: 1px solid #ddd; /* focus style */ }

/**
* Error Styles
*/
/* blue outline around inputs */
#registration_form .input_error{
	border: 4px solid #3FA8F4; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

/* blue error pop-ups */
#registration_form .form_error{
	position: absolute;	z-index: 100;	top: 16px; left: 90%;
	width:65%; padding:8px; text-align: left;
	font-size: 0.9em;	color: white;	background: #3FA8F4;
	border:6px solid #FFFFFF;	border-radius: 35px;
	box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.65);
	display: none;
}
#registration_form .form_error p{
	padding: 0;	display: table-cell; vertical-align: middle;
}

#registration_form div.form_error[name="timezone"]{
	top: 100%;
}

/* alert box for code of conduct */
div#cOcAlertBox.form_error{
	padding: 25px 35px;
	/*display: block;*/
}

/* exclamation mark */
.form_error:before, #cOcAlertBox + p:before{
	content: '';
	background: url('../images/songcircle_form/exclamation_point_blue.png');
	background-size: cover;
	height:50px;
	width:50px;
	float: left;
	margin-left: 3px; margin-right: 5px;
}
div#cOcAlertBox.form_error:before{ margin-left: -30px; margin-top: -20px; }

/* close form button */
#registration_form span#close_form {
	display: none; width: 100%;
	cursor: pointer; text-align: center;
	transition: color 250ms;
	font-size: 0.9em;
}
span#close_form:hover { color: #fff; }

/*@media screen and (max-width: 1900px) and (min-width: 1280px)*/

@media screen and (max-width: 1760px){
	#registration_form .form_error, #cOcAlertBox.form_error{
		left: 96%;
	}
}

@media screen and (max-width: 1440px){
	#registration_form .form_error{
		width: 82%;
	}
	#cOcAlertBox.form_error{
		left: 104%;
		width: 70%
	}
}

@media screen and (max-width: 1280px){
	#registration_form{
		width: 40%;
	}
}
@media screen and (max-width: 950px) and (min-width: 630px){
	#registration_form{ width: 450px !important; }
}

@media screen and (max-width: 950px){
	#registration_form{
		max-height: 85%;
		overflow-y: auto;
		width: 65%;
	}
	#registration_form .form_error{
		position: relative;
		top: -2px; left: -26px;
		width: 115%;
	}
	div#cOcAlertBox.form_error{
		top:12px;
	}
	#registration_form span#close_form{
		display: block; text-align: left; padding-bottom: 1em;
	}
}

@media screen and (max-width: 480px){
	#registration_form{
		max-height: 85%;
		overflow-y: auto;
		padding-left: 2em; padding-right: 2em;
	}
	#registration_form input, select, .input_error{
		width: 100%;
	}
	#registration_form span#submit_registration{ min-width: 85%; }

	#registration_form .form_error{
		left: 3px; width: 100%;
	}
}

@media screen and (max-width:326px){
	#registration_form{
		width: 80%;
		padding-left: 1.5em; padding-right: 1.5em;
	}
	#registration_form input, select, .input_error{
		width: 95%;
	}
	#registration_form span#submit_registration{ min-width: 200px; }
	#registration_form .form_error{
		left: 10px; width: 95%;
	}
	div#codeOfConduct{ padding: 0 0.5em; }
	div#details > p{ padding-left: 16px; }
}


/* form error div */
#registration_form div#output{
	display: none;
	border: 2px solid red;
	text-align: center;
	padding:6px;
	font-size:1.4em;
	font-weight: bold;
	color: red;
	margin:0 0 24px;
}
#registration_form div#output li{ line-height: 1.2; }


/* Styles for Code of Conduct Modal */

/*#cOcModal{
  position:fixed; z-index:3001;
  top:0.5em; bottom:0.5em;
  left: 50%; transform: translateX(-50%);
  width: 62.5%;
  min-width: 320px;
  background: #9ECB9E;
  text-align: center;
  border: 2px solid #555;
  display: none;
  overflow: auto;
  font-size: 20px;
}
#cOcModal div{
  margin: 0.5em 0.5em; padding: 0.5em 0.5em;
  font-size: 0.85em; text-align: left;
  background:#eee;
}
#cOcModal h2{ margin: 2em 0 1em; font-size: 1.5em; font-weight: bold;}

#cOcModal h2, #cOcModal ol li{ font-family: 'museo_sans300', Arial, Helvetica, sans-serif; }
#cOcModal ol{
  margin:0 auto; padding:0.5em 0;
  list-style-type: none; list-style-type: decimal !ie;
  counter-reset: ol-counter;
  background:#eee; border: 2px solid #aaa;
  width: 50%; min-width: 284px;
}
#cOcModal ol li{
  position: relative;
  text-align: left;
  margin: 1em 0;
  margin-left: 60%; transform: translateX(-50%);
  min-height: 2em;
  border-left: 2px solid #464646; padding-left: 0.5em;
}
#cOcModal ol > li:before {
  content: counter(ol-counter);
  counter-increment: ol-counter;
  position: absolute; top: 0; left: -1.15em;
  width: 0.85em; line-height: 0.9;
  font-size: 2.5em; font-weight: bold;
  text-align: right;
  color: #464646;
}
#cOcModal button{
  display: block;
  margin:1em auto 0.5em; padding:0.5em 1em;
  font-size:1em; line-height: 1.25;
  width:49%; min-width: 284px;
  border-radius: 6px 6px 6px 6px;
}
#cOcModal button[name="cOcAgree"]{
  color:#365A09; background: #7CC919;
}
#cOcModal a[name="cOcNotAgree"]{
  display: block; width: 45%;
  margin: 0 auto 1em; padding: 0.5em 1em;
  font-size: 0.75em;
  color:blue;
  text-decoration: underline;
}
#cOcModal a[name="cOcNotAgree"]:hover{color:#D7F6E4;}
#cOcModal button[name="cOcAgree"]:hover{ color:white; background: #2E63AF; cursor: pointer; }*/
#cOcModal p{ margin: 0; line-height: 1.1; padding: 0.25em 0; }


#codeOfConduct span.bold{ font-family: 'museo_sans900'; }
article#codeOfConductModal{
	position:fixed; z-index:3001;
	/*top: 0.5em; bottom: 0.5em;*/
	top: 0; bottom: 0;
	left: 50%; transform: translateX(-50%);
	width: 65%; min-width: 320px;
	font-size: 120%;
	overflow-x: hidden; /* horizontal */
	overflow-y: scroll;
	overflow: overlay;
	min-width: 320px;
	padding: 0.5em;
	background: white;
}
#codeOfConductModal p{
	background: #8E8E8E;
	margin-bottom: .25em;
	padding: 1em 4em;
	line-height: 1.3;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	color: white;
	font-family: 'museo_sans300';
}
#codeOfConductModal p > img{ float: left; margin: 0.5em 1em 0.5em 0; }
#codeOfConductModal p span{ font-family: 'museo_sans700'; }
#codeOfConductModal div{
	background: #E7E7E7;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-bottom: 1em;
	position: relative;
	/*height: 84%;*/
}
#codeOfConductModal div > h2{
	text-align: center;
	font-size: 2.2em;
	padding: .25em 0 1em;
	color: #618ADE;
	min-width: 0;
}
#codeOfConductModal div > h2 + img{
	position: absolute;
	top: 0; width: 100%;
}
#codeOfConductModal ol{
	margin:0 auto 1em; padding:0.5em 0;
	list-style-type: none; list-style-type: decimal !ie;
	counter-reset: ol-counter;
	width: 50%; min-width: 284px;
	background: #fff;
}
#codeOfConductModal ol li{
	margin: 1em 0;
	margin-left: 55%; /* offset li from the left margin */
	transform: translateX(-50%);
	padding: .25em 0;
	padding-left: 1em;
	min-height: 2em;
	border-left: 2px solid #618ADE;
	line-height: 1.2;
	display: table;
	width: 65%; /* make the li full width of ol */
	color: #615F64;
	font-family: 'museo_sans300';
}
/* nesting of spans allow for vertical-align: center technique */
#codeOfConductModal ol li > span{
	display: table-cell;
	vertical-align: middle;
	font-family: 'museo_sans300';
	padding: .5em 0 .5em .5em;
}
#codeOfConductModal ol > li:before {
	content: counter(ol-counter);
	counter-increment: ol-counter;
	/*position: relative; */
	left: -1.25em;
	position: absolute;
	/*top: 0;*/
	/*width: 0.85em; line-height: 0.9;*/
	font-size: 2.5em;
	line-height: normal;
	/*text-align: right;*/
	color: #618ADE;
	font-family: 'museo_sans700';
}
#codeOfConductModal button{
	display: block;
	margin: 0 auto;
	padding: 0.5em;
	font-size: 1em;
	width: 50%;
	min-width: 266px;
	font-family: 'museo_sans300';
	font-weight: bold;
}
#codeOfConductModal button > img{
	float: left;
}
#codeOfConductModal button span{ line-height: 1.5; }
#codeOfConductModal button[name="agree"]{
	background: #7ABE43;
	color: white;
	border: 3px solid #F6FF8B;
}
#codeOfConductModal button[name="agree"]:hover{ color: #6B6B6B; }
#codeOfConductModal button[name="not_agree"]{
	background: none; border: none;
	margin: 0.5em auto 0;
}
#codeOfConductModal button[name="not_agree"] > img{
	margin-left: 1em;	margin-right: .25em;
}
#codeOfConductModal button[name="not_agree"]:hover{
	color: rgba(0, 0, 0, .35);
}
#codeOfConductModal button, #codeOfConductModal button:hover{
	-webkit-transition: color .25s;
	transition: color .25s;
}

/* media queries for code of conduct */
@media screen and (max-width: 980px) and (min-width: 681px){
	/*
	expand width of elements on smaller page
	turn off top position on h2
	*/
	article#codeOfConductModal{
		width: 85%;
	}
	#codeOfConductModal div > h2{ top: 20px; }
	#codeOfConductModal ol{ width: 76%; min-width: 600px; }
	#codeOfConductModal button{ width: 76%; }
}

@media screen and (max-width: 680px){
	article#codeOfConductModal{
		width: 100%;
	}
	#codeOfConductModal p{
		padding: 1em 1em;
	}
	#codeOfConductModal div > h2{
		top: 0; padding: .5em; line-height: 1.2;
	}
	#codeOfConductModal ol{ width: 85%; min-width: 0; }
	#codeOfConductModal button{ width: 80%; }
}

@media screen and (max-width: 460px){
	article#codeOfConductModal{
		width: 100%;
		min-width: 320px;
	}
	#codeOfConductModal ol{ width: 98%; min-width: 0; }
	#codeOfConductModal ol li{
		padding-left: 0.5em; line-height: 1.1;
		margin-left: 60%;
	}
	#codeOfConductModal ol > li::before{ left: -1em; }
	#codeOfConductModal button{ width: 80%; }
	#codeOfConductModal button span{ line-height: 1.15; }
}
