/**
*
* Styles for Songcircle.php
*
* Created: 03/04/2016
*
* NOTE: right in fallbacks for border-radius, box-shadow, etc
*
* NOTE: confirm browser compatibility for background gradients
*/

/* make body full-width of viewport */
body{
	max-width: 100%;
}
header{
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
/* hides green register button on index.php*/
button.register.medium{ display: none; }

main{
	position: relative; z-index: 1; width: 100%;
	margin: 0;	box-sizing: inherit; color: #666;
	background-size: 100%, 100%; background-position: left top;
	background: url('../images/songcircle/notes_green.png') no-repeat 0% 100%, rgb(255,255,255);
	background: url('../images/songcircle/notes_green.png') no-repeat 0% 100%, linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(253,255,251) 12%,rgb(237,252,217) 19%,rgb(225,250,189) 27%,rgb(188,244,109) 37%,rgb(154,230,59) 46%,rgb(144,226,43) 49%,rgb(95,184,39) 64%,rgb(31,155,58) 75%,rgb(4,146,67) 81%,rgb(0,145,69) 83%,rgb(0,145,69) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#009145',GradientType=0 );
	overflow: hidden;
}

/**
* Main Banner
*/
article#banner{
	position: relative; z-index: 10;
	width: 100%; height: 515px;	padding-top: 1em;
	background: url('../images/songcircle/girlguitarcut.png') no-repeat transparent; /* banner image */
	background-size: 75%;	background-position: 135% 0;
	box-shadow: inset 0px 25px 50px -10px rgb(255, 255, 255); /* white blur box shadow over image */
}
article#banner h1, h2{
	display: block; width: 65%; min-width: 950px;
	font-family: 'museo_sans300', Arial, Helvetica, sans-serif;
	margin: 0 auto; padding-left: 8px; line-height: 1.5;
	position: relative; top: 20px;
}
article#banner h1{ font-size: 2.5em; margin-top: 0.5em; margin-bottom: 1.5em; }
article#banner h2{ font-size: 1.5em; font-style: italic; padding-right: 0.5em; }

/**
* Songcircle Schedule
*/
article#schedule{
	position: relative; top: -160px; height: 318px;
	background: url('../images/songcircle/notes_white.png') no-repeat transparent;
}
#schedule div#schedule_container{
	width: 65%;	min-width: 950px; margin: 0 auto;
	position: relative; z-index: 100;	top: 110px;
}

table{
	width: 100%; text-align: center;
	position: relative;
	font-weight: 900;	line-height: 1.4;
	border: 3px solid #fff;
	border-radius: 30px;
	box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.45);
	color: #666;
	background: #e5fcca;
	background: linear-gradient(to bottom,  #e5fcca 0%,#99ee20 45%,#89dc3d 70%,#7ec919 80%,#92ea41 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5fcca', endColorstr='#92ea41',GradientType=0 );
}
table td{
	width: 33.3%;
	font-size: 1.25em;
	vertical-align: middle;
	padding: 1em 0;
	display: inline-block;
}

/* date-list container */
#schedule div#datesList_container{
	position: absolute; top: -90px;
	width:40%; min-width: 440px;
	font-size: 1.5em;	padding-left: 0.5em;
	font-family: 'museo_sans900';
	color: #666;
}
#datesList_container p,
#datesList_container ul{
	padding: 0.25em;
}
#datesList_container li{
	display: inline; font-family: 'museo_sans700';
	cursor: pointer; transition: opacity 250ms;
}
#datesList_container li:not(:last-child):after{ content: '/'; }
#datesList_container li:hover{ opacity: 0.6; }
#datesList_container li.selected:hover{ opacity: 1; }

.selected, .participantsTable td,
#datesList_container p{
	color: #3F9FEB;
}
/*#datesList_container p:last-child{font-family: 'museo_sans700';}*/
#datesList_container .selected:before{
	content: url('../images/songcircle/arrow_blue.png');
	position: relative; top: 1px;
	margin-left: 6px;	margin-right: -1px;
}
.selected, #banner span, #about span,
#datesList_container li.selected{
	font-family: 'museo_sans900';
}

/**
* Songcircle table
*/
.songcircle_table tr{ position: relative; display: none; }
.songcircle_table tr.active{ display: table-row; }
/* Middle td */
.songcircle_table td:nth-child(2){
	position: relative;
	font-size: 1.45em;
	top: -30px;
}
.songcircle_table td:nth-child(2) > div{
	position: absolute; top: -12px;
	height: 134px;
	/*display: table; */
	width: 100%;
	padding: 1.5em 0 0;
	border-radius: 30px;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
	background: rgb(255,255,255);
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(255,255,255) 17%,rgb(252,252,252) 23%,rgb(235,235,235) 52%,rgb(213,213,213) 81%,rgb(242,242,242) 92%,rgb(255,255,255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.songcircle_table td[name="event_name"] > div:after{
	content: url('../images/songcircle/arrow_green.png');
	display: block;
	position: absolute; bottom: 0; right: 50%;
}
.songcircle_table td > div p > span{ display: inline; vertical-align: bottom; }
.songcircle_table td > div span{ display: table-header-group; }
.songcircle_table td > div span.triggerParticipantsTable{
	font-size: 0.75em;
	display: block;
	padding-bottom: 2.5em;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
}
.songcircle_table td[name="event_name"] p{ min-width: 302px; }
/* styles for varying button states */
.songcircle_table div p.in-progress,
.songcircle_table div p.is-complete{
	padding: 5px 0 4px; font-family: 'museo_sans300';
}
/* blue register button */
.button_container{
	font-family: 'museo_sans700', Arial, Helvetica, sans-serif;
	font-size: 1.75em; color: white;
	min-width: 75%;	max-width: 85%;
	margin: 0 auto; padding: 6px 0.25em;
	display: block; cursor: pointer;
	border:2px solid white;	border-radius: 24px;
	box-shadow: 0px 1px 6px 2px rgba(255,255,255,.85);
	background: rgb(63,216,255);
	background: linear-gradient(to bottom,  rgb(134,231,255) 0%,rgb(63,216,255) 17%,rgb(18,121,222) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86e7ff', endColorstr='#1279de',GradientType=0 );
}
/*.button_container a{
	color: white; border:2px solid white;
	display: inline; width: 100%;
	position: relative;
}*/

/*.button_container a:before,*/
.button_container:before,
span[name="register"]:before{ /* registration form button */
	content: url('../images/arrows_and_lines/white_arrow_right.svg');
	position: relative; right: 10px;
}
.button_container:hover{
	background: #89dc3d;
	background: linear-gradient(to bottom,  #e5fcca 0%,#99ee20 45%,#89dc3d 70%,#7ec919 90%,#92ea41 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5fcca', endColorstr='#92ea41',GradientType=0 );
}
span.triggerParticipantsTable{
	text-decoration: underline; transition-duration: .250s;
}
span.triggerParticipantsTable:hover{
	cursor: pointer; color:#7CC919; transition-duration: .250s;
}

/**
* Participants Drop-Down table
*/
table.songcircle_table td.participantsTable{
	position: absolute;
	top: 112px;
	left: 50%; transform: translateX(-50%);
	z-index: -100;
	width: 100%;
	padding: 0;
	display: none;
}
table.songcircle_table td.participantsTable table{
	display: block; margin: 0 auto; padding: 0.5em 0;
	border-width: 5px; border-radius: 0px;
	background: #DFEECB; line-height: 1;
	width: 90%;
}
table.songcircle_table td.participantsTable table td{
	position: static; display: table-cell;
	transform: none; line-height: 1.25;
	font-size: 1em; width: 50%;
	font-family: 'museo_sans100'; font-weight: 100; padding: 0.5em 0;
}
.participantsTable tbody{ display: block; max-height: 224px; overflow-y: auto; }
.participantsTable tr{ width: 100%; display: table; }

.participantsTable td > a,
.songcircle_table .participantsTable td.empty{
	font-family: 'museo_sans700';
}
.participantsTable .empty{ color: #666; }

/**
* About Section
*/
article#about{
	position: relative; z-index: 2;	top: -285px; width: 79.5%;
	margin: 0 auto; padding: 1em 7.5% 4em;
	border-radius: 12px; background: #ffffff;
}
#about h3{
	font-size: 2em;	font-weight: 500;
	padding: 3.25em 0 2em; line-height: 1.3;
}
#about p{
	font-size: 1.3em;	padding: 1.5em 0 0;
	line-height: 1.5;
}
#about a{ color: #3F9FEB; text-decoration: underline; }
#about img{ width: 98%; }

/**
* Misc
*/
.button_container.cannot_register{ opacity: 0.5; }
.button_container.cannot_register:hover{
	cursor: default;
	background: rgb(63,216,255);
	background: linear-gradient(to bottom,  rgb(134,231,255) 0%,rgb(63,216,255) 17%,rgb(18,121,222) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86e7ff', endColorstr='#1279de',GradientType=0 );
}
/* text highlighting classes */
.green, .event_name{ color: #009145; } /* forest green */
.blue{ color: #3F9FEB; } /* powder blue */

/**
* Media Queries
*/
@media screen and (max-width: 1290px) and (min-width: 840px){
	article#banner{
		background-size: 102%;
		background-position: -1000% 0%;
	}
	#schedule #schedule_container td table.participantsTable{ width: 90%; }
	article#about{ width: 85%; }
}

@media screen and (max-width: 1100px){
	article#banner{ padding-left: 2.25em; }
	#schedule div#schedule_container{ width:97%; }
	#schedule #schedule_container td table.participantsTable{ width: 80%; }
	article#about{ width: 88%; }
	#schedule div#datesList_container{ left: 1.5em; }
}

@media screen and (max-width: 950px){
	article#banner h1,h2{
		width: 490px;
		min-width: 0;
		top:110px;
	}
	article#schedule, article#about{ top: 188px; }
	#schedule div#schedule_container, #schedule table, #about{
		min-width: 0;
		width: 454px;
	}
	#schedule table{ position: relative; bottom: 60px; }
	#schedule table.songcircle_table td, #schedule table.songcircle_table td span.button_container{
		width: 100%; max-width: initial;
	}
	#schedule div#datesList_container{ top: -164px; left: 0;}
	#schedule table.songcircle_table td:nth-child(2){
		position: absolute;
		top: 124px; left: 0;
	}
	#schedule table.songcircle_table td:nth-child(3){
		position: absolute;
		top: -225px; left: 0;
	}
	#schedule #schedule_container table.songcircle_table td:last-child{
		top: 184px;
	}
	#schedule #schedule_container td table.participantsTable{
		width: 95%;
		top: 60px;
	}
	article#about{
		width: 78%;
		margin-bottom: 32em;
	}
	#about h3{ padding-top: 2em;}
}

/* Query for stacking order of songcircle schedule */
@media screen and (max-width: 839px){
	main{
		background: url('../images/songcircle/notes_green.png') no-repeat 0% 100%, linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(253,255,251) 7%,rgb(237,252,217) 14%,rgb(225,250,189) 27%,rgb(188,244,109) 39%,rgb(154,230,59) 46%,rgb(144,226,43) 49%,rgb(95,184,39) 64%,rgb(31,155,58) 75%,rgb(4,146,67) 81%,rgb(0,145,69) 83%,rgb(0,145,69) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#009145',GradientType=0 );
	}
	article#banner{
		background-size: 140%;
		background-position: 12.5% 0%;
	}
	#schedule div#schedule_container{
		min-width: 320px;
	}
	#schedule #schedule_container td table.participantsTable{ width: 70%; }
	article#about{ width: 100%; border-radius: 0; }
}

@media screen and (max-width: 520px){
	article#banner{ padding-left: 1.75em; }
	article#banner h1,h2{
		width: 100%;
		padding-left: 0;
	}
	#schedule div#schedule_container, #schedule table.songcircle_table{
		width: 94%; margin: 0 auto;
	}
	/*article#about{ top: 198px; }*/
	article#schedule,article#about{ top: 300px; }
	#schedule div#datesList_container{
		min-width: 94%;
	}
	#schedule #schedule_container td table.participantsTable{
		width: 90%;
	}
	#schedule table.songcircle_table td[name="event_name"] p{
		position: absolute;
		vertical-align: bottom;
		bottom: 63px;
		left: 50%; transform: translateX(-50%);
		width: 100%;
		line-height: 1.25;
	}
	#schedule table.songcircle_table td[name="event_name"] span{ padding-top: 39px; }
	article#about p{ line-height: 1.8; }
}

@media screen and (max-width: 460px){
	article#about{ top: 300px; } /* changes height of #schedule from top of page */
	#schedule div#datesList_container{
		top: -162px;
		line-height: 1.2;
	}
}

@media screen and (max-width: 349px){
	main{
		background: url('../images/songcircle/notes_green.png') no-repeat 0% 100%, linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(253,255,251) 4%,rgb(237,252,217) 7%,rgb(225,250,189) 20%,rgb(188,244,109) 34%,rgb(154,230,59) 46%,rgb(144,226,43) 49%,rgb(95,184,39) 64%,rgb(31,155,58) 75%,rgb(4,146,67) 81%,rgb(0,145,69) 83%,rgb(0,145,69) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#009145',GradientType=0 );
	}
	article#schedule, article#about{ top: 450px; }
	#schedule #schedule_container .participantsTable{ top: 48px; padding-top: 1em; }
	article#about{ margin-bottom: 42em; }
}
