/**
* Last update: Jan 5, 2016
*/

/*
* Global
*/
.bold{
	text-shadow: 1px 1px rgba(0,0,0,.3); font-weight: bold;
	font-family: 'museo_sans900', Arial, Helvetica, sans-serif;
}


/*
* Header
*/
#header nav ul li a[href="songcircle.php"]:before{
	content:url('../images/arrows_and_lines/navActive_arrow.png');
	position:absolute; left:-15px; top:3px;
}
#header nav ul li a[href="songcircle.php"]{ color: #7CC919; }

/* hides big register button on header */
div.register.medium{ display: none; }


/*
* Main
*/
article#main{
	height:390px;
	background-image: url('../images/banner/slide_5.jpg');
	background-color: #8CB5EE;
	background-position: 150px -75px;
	font-family: 'museo_sans900', Arial, Helvetica, sans-serif;
}
article#main h1#headline{
	margin-left: 18.2%; color: white;
	max-width: 62.5%; font-size:2.6em;
	font-family: 'museo_sans700', Arial, Helvetica, sans-serif;
	padding-top: 1.5em; margin-bottom: 1.6em;
	line-height: 1.4; text-transform: uppercase;
}

article#main h2{
	font-family: 'museo_sans100', Arial, Helvetica, sans-serif;
	font-size:2.1em; line-height: 1.2;
	padding:0.6em 4em 0 18.2%;
	color: #fff;
}


/*
* Schedule
*/
article#schedule{
	background-color: #efefef;
	/*height:300px;*/
	padding-bottom: 4em;
}
article#schedule h3{
	padding:2em 0 1em; margin-left: 18.2%; font-size: 2em;
}


/*
* Schedule table
*/
table#songcircleTable{
	width: 65%;
	margin:0 auto;
	border:5px double #7CC919;
	border-spacing: 0;
	text-align: center;
	border-radius: 6px;
	font-size:1.3em;
	font-family: 'museo_sans300', Arial, Helvetica, sans-serif;
	background-color: #fff;
}
#songcircleTable tr:not(:first-child) td{ border-top: 5px double #7CC919;; }

td{
	vertical-align: middle;
	padding:16px 0;
	line-height: 1.3;
	border: none;
	border-right:5px double #7CC919;
}

td.date{ width:31%; font-size:0.9em; }
td.name{ font-size: 1.15em;	padding-top: 0.9em; position:relative; }

span.registered{ width: 19%; }
td:last-child{ width:27%; padding: 0 0.5em; border-right:none; }

td input[type="submit"], button.join{
	background: #7CC919;
	padding:9px 18px;
	border-radius: 9px;
	border:1px solid #66A811;
	color:#365A09;
	font-size: 1.4em;
	box-shadow: 4px 4px 9px 2px #ccc;
	transition: 0.250s;
}
button.join{ margin: 0 auto; }

td input[type="submit"]:hover, button.join:hover{
	cursor: pointer;
	color:white; background: #2E63AF;
	transition: 0.250s;
	outline: none;
}

/* Table participants pop-up */
#songcircleTable table.participantsTable{
  position: absolute; z-index:1;
	left:7%; width:100%;
  border:2px solid black;
	font-size: .85em;
	border-spacing: 0;
	border-collapse: inherit;;
}

#songcircleTable table tr td:first-child{ border-right: 1px solid #ccc; }
#songcircleTable table.participantsTable td{
	width:50%;
	line-height: 1.25;
	padding:9px 6px;
	border:none;
}
table.participantsTable tr:nth-child(even){ background:#ddd; }
table.participantsTable tr:nth-child(odd){ background:#eee; }


/*
* About Songcircle
*/
article#aboutSongcircle{
	padding: 2em 2em 5em;
	padding-left: 18.2%;
	border:1px dotted black;
}
article#aboutSongcircle h3{ font-size: 2.1em; padding: 1em 0 1em 0; }
article#aboutSongcircle p{ font-size: 1.5em; padding: .5em; padding-left: 0; line-height: 1.3; width: 70%;}


/*
* Footer
*/
footer{width:1600px; bottom:0; position: relative; }


/*
* Registration Form
*/
#registration_form, #modal{
	position: fixed; z-index:3000;
	top:50%; left:50%;
	transform: translateY(-50%) translateX(-50%);
	/* transform centers elements vertically and horizontally.. Guau! */
	width:4em; min-width: 320px;
	background:#fff;
	padding: 0 3em;
	background: #ccc;
	display: none;
}
#registration_form{ width:25%; }

#modal.modalClass{
	transform: translateY(-50%) translateX(-50%);
	padding:54px 38px;
	font-size:1.6em;
	background: #FC3A3A;
  color: #fff;
	text-align: center;
	line-height: 1.2;
	width: 25em; min-width: 320px;
}
#modal.modalClass p{ margin:12px; }
#modal span{
	font-weight: bold;
}
#modal span:first-child{ font-size: 1.4em; }
/*#registration_form > div#details{ padding-bottom:2em; }*/
#modal.modalClass a{ color:#fff; text-decoration: underline; }

#registration_form h4{
	font-size: 1.8em; border-bottom: 2px dotted black;
	padding-bottom: 0.3em;
}
#registration_form h4 + p{ font-size:1.4em; margin-bottom:2em; }
#registration_form p{
	font-size:1.6em; margin-bottom: 1em;
	font-family: 'museo_sans300', Arial, helvetica, sans-serif;
}
#registration_form p span{color: blue; cursor: pointer; font-size:0.8em;}

#registration_form div#loc{ text-align: center; margin-top: 2.6em; border-top: 2px dotted black;}
#registration_form div#loc p{
	font-size:1.4em; padding-top: 1.2em;
	line-height: 1.4;
}

#registration_form div#loc p b{ font-size:1.1em; text-decoration: underline; }
#registration_form p#timezone{  font-size:2.5em; font-family: 'museo_sans700', arial, helvetica, sans-serif; }

#registration_form p#locationMsg{ margin-bottom: 1em; }

#registration_form input, select{
	display: block;
	margin:0 auto;
	border:none;
	width:65%;
	padding:12px 15px;
	font-size: 1.3em;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	position: relative;
	outline: none;
}

#registration_form input{ margin-top: 2em; }
#registration_form input#user_city{ margin-top: 0;}
#registration_form input:last-child{ margin-top: 0.8em; }

#registration_form #loc p{
	font-size:1.3em;
}

#registration_form div#codeOfConduct{ text-align: center; position: relative; width: 70%; margin:0 auto; font-size: 1.1em; }
#registration_form div#codeOfConduct div#cOcAlertBox p{ font-size: 1em; }
#registration_form input[name="codeOfConduct"]{
	display: inline-block; width:auto; margin-top: 0.5em;
}
#registration_form input[name="codeOfConduct"]:focus{ outline:1px dotted blue; }

#registration_form div#cOcAlertBox{
	position: absolute; top:30%; left:-65%;
	z-index:3; width:62%; font-size: inherit;
	background: #cfc;	border:1px solid #111;
	box-shadow: 2px 2px 15px 0px;
}
#registration_form div#cOcAlertBox p{ margin: 0; padding: 9px; }
#registration_form div#cOcAlertBox a{ text-decoration: underline; }

#registration_form input:focus, select:focus{	border:2px solid blue; }

#registration_form input[type="submit"]{
	cursor: pointer; margin:1.4em auto 1.8em;
	width:40%;
	background-color: green;
}
#registration_form input[type="submit"]:hover{ background-color: blue; }

#registration_form .form_error{
	margin:6px auto -9px;
	display: block;
	width:65%;
	box-sizing: content-box;
	padding:6px;
	border: 2px dotted red;
	background:#ddd;
	display:none;
}

/* form error div */
#registration_form div#output{
	display: none;
	border: 2px solid red;
	text-align: center;
	padding:6px;
	font-size:1.4em;
	font-weight: bold;
	color: red;
	margin:0 0 24px;
}

#registration_form div#output li{ line-height: 1.2; }


/*
* Misc
*/
span.triggerParticipantsTable{ text-decoration: underline; transition-duration: .250s;}
span.triggerParticipantsTable:hover{ cursor: pointer; color:#7CC919; transition-duration: .250s; }


.cannot_register{ opacity: 0.5; }
td input[type="submit"].cannot_register:hover{
	cursor:default;
	background: #7CC919;
	color:#365A09;
}


.triggerParticipantsTable{
	font-size: 0.65em;
  cursor: pointer;
  color:blue;
  text-decoration: underline;
}
span.permission{ font-size: 0.85em; color: #DA7C7C; }

/* special class for songcircle.php checkbox 'look' */
.double {
  zoom:1.5;
  transform:scale(1.5);
  -ms-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -o-transform:scale(1.1);
  -moz-transform:scale(1.1);
  transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -o-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -webkit-transform-origin:0 0;
}
